numpy
grpcio
ray[train,tune,rllib,default]
pandas
pandas-datareader
networkx
ifcopenshell
shapely
pycairo
gputil
wandb
scipy
tqdm
#gymnasium[mujoco]
pyyaml
#timm
#mathutils
opencv-python
moderngl
moderngl-window
paho-mqtt
deap
lark
gspread