[Unit]
Description=Ray Worker Node (Apptainer)
After=network.target

[Service]
Type=simple
ExecStart=/home/unhe/factorySim/rayCluster/ray-worker.sh
Restart=always
User=unhe
WorkingDirectory=/home/unhe/factorySim/
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target