[Unit]
Description=Ray Head Node (Apptainer)
After=network.target

[Service]
Type=simple
ExecStart=/home/unhe/factorySim/rayCluster/ray-head.sh
Restart=always
User=rayuser
WorkingDirectory=/home/unhe/factorySim/
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target