[Unit]
Description=Ray Head Node (Apptainer)
After=network.target

[Service]
Type=simple
TimeoutStopSec=30
KillSignal=SIGTERM
ExecStart=/home/unhe/factorySim/rayCluster/ray-head.sh
Restart=on-failure
User=unhe
WorkingDirectory=/home/unhe/factorySim/
StandardOutput=journal
StandardError=journal
Environment=RAY_GRAFANA_HOST=http://10.54.129.111:3000
Environment=RAY_PROMETHEUS_HOST=http://10.54.129.111:9090

[Install]
WantedBy=multi-user.target